* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c39e6f;
}

h1 {
    color: #2e2e6e;
}

p#color_p {
    color: #cdbddb6c;
}

p.color_p {
    color: #2e2eacbb;
}

div#menu_nav > ul#opciones > li {
    background-color: #aabbcc;
    color: #ffffff;
}

div#menu_nav > ul#opciones > li:hover {
    background-color: #abc;
    color: #000;
}

 